<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/formstyle.css}">
    <title>Login</title>

</head>

<body>
    <div class="container">
        <div class="logo">
            <img th:src="@{/images/scalelogo.png}" alt="">
        </div>
        <h1>Đăng nhập</h1>
        <form>
            <label for="username">Tài khoản</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="password" required><br>
            <label>
                <input type="checkbox"> Ghi nhớ đăng nhập
            </label><br>
            <input type="submit" value="Đăng Nhập">
        </form>
        <p>Chưa có tài khoản? <a th:href="@{/register}">Đăng ký ngay!</a></p>
    </div>
</body>

</html>