<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Chuong1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>bai1_1</display-name>
    <servlet-name>bai1_1</servlet-name>
    <servlet-class>Servlet.bai1_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bai1_1</servlet-name>
    <url-pattern>/bai1_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bai1_2</display-name>
    <servlet-name>bai1_2</servlet-name>
    <servlet-class>Servlet.bai1_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bai1_2</servlet-name>
    <url-pattern>/bai1_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testdopost</display-name>
    <servlet-name>testdopost</servlet-name>
    <servlet-class>Servlet.testdopost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testdopost</servlet-name>
    <url-pattern>/testdopost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testdoPost</display-name>
    <servlet-name>testdoPost</servlet-name>
    <servlet-class>Servlet.testdoPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testdoPost</servlet-name>
    <url-pattern>/testdoPost</url-pattern>
  </servlet-mapping>
</web-app>